.footer__navigation-link {
  margin-right: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #FFFFFF;
  text-decoration: none;
}

.footer__navigation-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .footer__navigation-link {
    margin-right: 0;
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }
  
  .footer__navigation-link:last-child {
    margin-bottom: 0;
  }
}