/*

@font-face {
  src: url(./fonts/Inter-Regular.woff) format('woff'),
       url(./fonts/Inter-Ragular.woff2) format('woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.page {
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  background-color: #2a2c2f;
  -webkit-font-smoothing: antialiased;
}

.header {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.container_size_large {
  max-width: 1184px;
}


.header__container {
  padding-top: 28px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.header__logo {
  width: 176px;
  height: 52px;
}


.header__lang-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 77px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}


.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
}

.header__lang-link_active {
  position: relative;
}

.header__lang-link_active::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
}

@font-face {
  src: url(./fonts/Inter-Black.woff) format('woff'),
       url(./fonts/Inter-Black.woff2) format('woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
}

.intro {
  margin: 0 auto;
}

.container_size_medium {
  max-width: 984px;
}

.intro__title {
  margin: 0 auto 32px;
  padding: 0;
  max-width: 720px;
  font-family: 'Inter', sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  color: #fff;
  text-align: center;
}


.intro__subtitle {
  margin: 0 auto 64px;
  padding: 0;
  max-width: 640px;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.intro__figure {
  margin: 0 auto;
  padding-bottom: 92px;
  max-width: 984px;
}

.intro__image {
  margin-bottom: 8px;
}

.intro__caption {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 1.5px;
}



.information {
  margin: 0 auto;
}

.information__title {
  margin: 0 0 40px 0;
  padding: 0;
  max-width: 690px; 
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
}

.information__text {
  margin: 0 0 33px 0;
  padding: 0;
  max-width: 690px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  color: #fff;
}

.information__list {
  margin: 0;
  padding: 0 0 92px 0;
  list-style: none;
  max-width: 690px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.55;
  color: #fff;
}

.information__span-accent {
  font-weight: 700;
}

*/

.gallery {
  margin: 0 auto;
}

.gallery__table {
  margin: 0;
  padding: 0 0 92px 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, 213px);
  grid-template-columns: repeat(4, 284px);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.gallery__photo {
  
}

/* ---------- Places ---------- */

.places {
  margin: 0 auto;
}

.places__table {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.places__card {
  margin-bottom: 80px;
  display: grid;
  grid-template-rows: minmax(min-content, 76px) minmax(min-content, 460px);
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 460px);
  grid-row-gap: 48px;
  grid-column-gap: 40px;
  
}

.places__card:last-child {
  margin-bottom: 0;
}

.places__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106% */
  color: #FFFFFF;
}

.places__website {
  align-self: end;
}

.places__website-url {
  margin: 0;
  padding: 0 0 12px 0;
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.places__website-link {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: none;
  color: #FFFFFF;
  position: relative;
}

.places__website-link::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #fff;
}

.places__image {
  
}

.places__description {
  
}

.places__paragraph {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #FFFFFF;
}






















