/*

@font-face {
  src: url(./fonts/Inter-Regular.woff) format('woff'),
       url(./fonts/Inter-Ragular.woff2) format('woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.page {
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  background-color: #2a2c2f;
  -webkit-font-smoothing: antialiased;
}

.header {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.container_size_large {
  max-width: 1184px;
}


.header__container {
  padding-top: 28px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.header__logo {
  width: 176px;
  height: 52px;
}


.header__lang-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 77px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}


.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
}

.header__lang-link_active {
  position: relative;
}

.header__lang-link_active::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
}

*/
























