.footer__container {
  max-width: 1184px;
  padding: 92px 0 24px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

  
  @media screen and (max-width: 1280px) {
    .footer__container {
      margin: 0 48px;
    }
  }

@media screen and (max-width: 800px) {
    .footer__container {
      padding: 88px 0 24px 0;
      max-width: 720px;
      margin: 0 24px;
    }
  }

@media screen and (max-width: 700px) {
    .footer__container {
      padding: 64px 0 24px 0;
      max-width: 186px;
      margin: 0 118px 0 16px;
      flex-direction: column;
    }
  }