.gallery__table {
  margin: 0;
  padding: 0 0 92px 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, 213px);
  grid-template-columns: repeat(4, 284px);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}