.places__card {
  display: grid;
  grid-template-rows: fit-content(152px) fit-content(460px);
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-row-gap: 48px;
  grid-column-gap: 40px; 
}