.places__table {
  margin: 0 auto;
  padding: 0 0 92px 0;
  list-style: none;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places__table {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places__table {
    padding-bottom: 90px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .places__table {
    padding-bottom: 66px;
    margin: 0;
  }
}