.footer__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media screen and (max-width: 700px) {
    .footer__navigation-list {
      flex-direction: column;
    }
  }