.intro__image {
  margin-bottom: 8px;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  
  .intro__image {
    width: 100%;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro__image {
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .intro__image {
    width: 100%;
    max-width: 320px;
  }
}