.intro__title {
  margin: 0 auto;
  padding: 0 0 32px 0;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.05;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .intro__title {
    font-size: 72px;
    line-height: 1.1;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 550px) {
  .intro__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 414px) {
  .intro__title {
    font-size: 44px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 40px;
  }
}